*{
    margin: 0;
    padding: 0;
}
span {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold
  }
/* Social */
.red{
	position: fixed;
	top: 200px;
	z-index: 100;
	left: 0;
}
.red .item{
    height: 50px;
    width: 50px;
    padding-left: 15px; 
    padding-top: 15px;
    box-sizing: border-box;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}
.red .red-facebook{
    background: #3b5998;
    border-top-right-radius: 30%;
}
.red .red-facebook:hover{
    box-sizing: border-box;
    width: 70px;
    padding-left: 25px; 
	background: #3b5998;
}
.red .red-twitter{
	background: #55acee;
}
.red .red-twitter:hover{
    box-sizing: border-box;
    width: 70px;
    padding-left: 25px; 
	background: #55acee;
}
.red .red-instagram{
	background: #e4405f;
}
.red .red-instagram:hover{
    box-sizing: border-box;
    width: 70px;
    padding-left: 25px; 
	background: #e4405f;
}
.red .red-youtube{
    background: #ff0000;
    border-bottom-right-radius: 30%;
}
.red .red-youtube:hover{
    box-sizing: border-box;
    width: 70px;
    padding-left: 25px; 
    background: #ff0000;
}
@media (max-width: 576px) { 
    .red{
		display: none;
    }
 }