body {
  margin: 0;
  padding: 0;
  background: url(../img/fondo_formulario.jpg) no-repeat 0px 0px;
  min-height: 100vh;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  color: white
}

#back{
  font-size: 20px;
  color: #fff
}
h1 {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 50px 0;
}

h2 {
  margin: 0;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 30px;
}
h3 {
  text-align: center;
  color: #ff0000;
  -webkit-text-stroke: 1px black;
}

p.register-p, p.login-p {
  color: #eee;
  font-size: 13px;
  text-align: center;
  margin-top: 2em;
}

.login-form {
  background: rgba(0, 0, 0, 0.4117647058823529);
  max-width: 500px;
  margin: 0 auto;
  padding: 3em;
  border-radius: 10px;
  box-sizing: border-box;
}

.group {
  display: flex;
  padding: 15px 5px;
  background-color: #ffffff;
}

.group i {
  color: #818d8e;
  font-size: 20px;
  padding: 0 10px;
}

.form-group {
  margin: 20px 0;
}

.form-group label {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  color: #d2d2d2;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-style: italic;
}

input, select{
  width: 100%;
  border: none;
  box-sizing: border-box;
  background: transparent;
  color: #000;
}

input:focus{
  outline: none;
}

button {
  background: #3986ac;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  padding: 12px 60px;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
}

button:hover {
  background-color: #00BCD4;
  transition-duration: 5s;
}

.forgot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

a {
  color: #eee;
  font-size: 14px;
  text-decoration: none;
}

.forgot p {
  color: #ffffff;
  text-align: center;
  margin: 0px;
font-size: 13px;
}

.register, .login {
  color: #00BCD4;
  text-decoration: none;
}

/* footer */

p.copyright-agileinfo {
  font-size: 15px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 300;
}

footer p a {
  display: inline-block;
  color: #fff;
  text-decoration: underline;
}

footer p a:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

footer {
  padding: 4em 0;
  text-align: center;
}

#id_pass,#id_user{
  padding-top: 10px;
}

#usuarioLogin,#passLogin{
  border: 0;
}

#div_input{
  height: 60px;
}

@media(max-width:768px) {
  h1 {
      font-size: 47px;
  }
}

@media(max-width:667px) {
  h1 {
      font-size: 45px;
  }
}

@media(max-width:640px) {
  p.copyright-agileinfo {
      letter-spacing: 1px;
  }
  h1 {
      font-size: 43px;
  }
}

@media(max-width:568px) {
  h1 {
      font-size: 40px;
  }
  p.copyright-agileinfo {
      font-size: 14px;
  }
}

@media(max-width:480px) {
  .login-form {
  margin: 0 3vw;
}
  h1 {
      font-size: 38px;
  }
  p.copyright-agileinfo {
      line-height: 1.8em;
  }
}

@media(max-width:414px) {
  h1 {
      font-size: 34px;
  }
}

@media(max-width:384px) {
  h1 {
      font-size: 30px;
  }
}

@media(max-width:320px) {
  h1 {
      font-size: 25px;
  }
  .forgot p {
      text-align: left;
  }
  .forgot {
      display: block;
  }
}