* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Montserrat';
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-image: linear-gradient(120deg, #3498db, #e74c3c);
}
.titulo_registro{
    margin-bottom: 30px;
}
input, label, select{
    float: left;
    width: 180px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    height: 30px;
}
.forma_formulario{
    margin-top: 100px;
    background-color: #ffffff;
    width: 540px;
    padding: 70px;
    border-radius: 10px;
    margin-bottom: 50px;
}
input[type=radio]{
    width: 30px;
    height: 20px;
}
span{
    margin-top: 20px;
}
.float{
    float: left;
}
button{
    margin-top: 40px;
    width: 180px;
    border-radius: 6px;
    height: 30px;
}