* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*HEADER*/
header{
  position: fixed;
  z-index: 10;
  width: 100%;
}

.nav-item{
  font-weight: 500;
  text-transform: uppercase;
}

ul li{
  display: inline-block;
}

.header-second {
  background-color: #3986ac;
  box-shadow: 0px 0px 17px 0px;
  transition: all 0.5s ease-in;
}

/*SLIDER IMG*/
.img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(../img/bajada.png);
  background-size: 100% 100%;
}

.img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(../img/pexels-photo-247431.jpeg);
  background-size: 100% 100%;
}

.img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(../img/pexels-photo-814499.jpeg);
  background-size: 100% 100%;
}

/*CONTENIDO SLIDER*/
.slider,
.slider ul,
.slider ul li {
  height: 710px;
  width: 100%;
  color: #fff;
  text-align: center;
}

/*
.slider h2,
.slider span,
.slider p,
.slider h3,
.slider a {
  transform: translateX(100rem);
  animation: slideIn 0.5s forwards;
}

*/

/*TEXTOS*/
.slider h2 {
  font-weight: bold;
  margin-top: 240px;
}

.slider span {
  color: orange;
}

/*BOTONES*/
.slider a {
  padding: 10px 20px;
  margin-left: 10px;
}

.slider a.btn-half {
  background-color: deepskyblue;
  color: #fff;
  transition: 0.3s ease-in;
}

.slider a.btn-half:hover {
  opacity: 0.7;
}

.slider a.btn-full {
  background-color: orange;
  color: #fff;
  transition: 0.3s ease-in;
}

.slider a.btn-full:hover {
  opacity: 0.7;
}

.slider a.btn-half,
a.btn-full {
  margin-top: 30px;
}

/*PUNTO 1 (FUNCIONES)*/
.function-area {
  position: relative;
  padding: 140px 0;
  text-align: center;
}

.sub-heading {
  position: relative;
  margin-bottom: 75px;
}

.sub-heading:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -3%;
  width: 6%;
  height: 1px;
  background-color: #3986ac;
  z-index: 1;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sub-heading:hover:before {
  width: 24%;
  margin-left: -12%;
}

.sub-heading:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12%;
  width: 24%;
  height: 1px;
  background-color: #e1e1e1;
}

.sub-heading p {
  color: #818181;
  display: inline-block;
  padding: 0px 0px 20px;
  position: relative;
  line-height: 24px;
  letter-spacing: 0.025em;
}

.function-block {
  position: relative;
  background: #f8f6fa;
  margin: 10px 0 0;
  text-align: center;
  padding: 70px 25px 40px;
  border-radius: 3%;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  box-shadow: 0 0 10px #818181;
}

.function-block:hover {
  background: #3986ac;
}

.function-block .function-icon {
  position: absolute;
  top: -31px;
  left: 50%;
  margin-left: -31px;
}

.function-block .far {
  width: 63px;
  height: 63px;
  font-size: 30px;
  color: #fff;
  line-height: 2;
  background-color: #3986ac;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #f8f6fa;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.function-block:hover .far {
  background-color: #fff;
  color: #3986ac;
  box-shadow: 0 0 0 10px #3986ac;
}

.function-block h3 {
  font-size: 18px;
  color: #3986ac;
  font-weight: 700;
  text-transform: uppercase;
}

.function-block p {
  color: #818181;
}

.function-block:hover h3,
.function-block:hover p {
  color: #fff;
}

/*EQUIPO DE TRABAJO*/
.teamwork-area {
  text-align: center;
}

.team-block {
  background-color: #f8f6fa;
  box-shadow: 0 0 5px #818181;
  padding: 10px 25px 40px;
}

.icon-team img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.teamwork-area h2{
  margin-top: 150px;
}

.teamwork-area h3 {
  font-size: 15px;
  color: #3986ac;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}

.teamwork-area span {
  font-size: 16px;
  font-weight: bold;
}

.teamwork-area p {
  margin-top: 15px;
  color: #818181;
}

.team-social .fab {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px #818181;
}

.fab:hover {
  background-color: #3986ac;
  color: #fff;
  transition: all 0.3s ease;
}

/*DESCARGAR*/
.download-area {
  margin-top: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/bajada.png);
  background-size: 100% 100%;
  color: #fff;
  height: 710px;
}

.download-area p {
  color: #fff;
  margin-top: 20px;
}

.download-area h2 {
  margin-top: 180px;
}

.img img {
  width: 50%;
}

.download-block {
  padding: 20px 25px 40px;

  margin-bottom: 30px;
}

.download-block img {
  height: 150px;
  width: 450px;
}

/* Footer */
footer p {
  color: #999;
  line-height: 25px;
}

footer h2,
footer h3 {
  font-size: 18px;
}

.footer-top {
  background-color: #111;
  padding: 80px 0;
}

.segment-one h3 {
  color: #fff;
  text-transform: uppercase;
}
.segment-one h3::before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}

.segment-two h3 {
  color: #fff;
  text-transform: uppercase;
}

.segment-two h3::before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}

.segment-three h3 {
  color: #fff;
  text-transform: uppercase;
}

.segment-three h3::before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}

.segment-three a .fab{
  width: 35px;
  height: 30;
  padding: 7px 9px;
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: #3986ac;
  color: #fff;
  box-shadow: 0 0 10px #000;
}

.segment-three a .fab:hover{
  background-color: #fff;
  color: #3986ac;
}

.segment-four h3 {
  color: #fff;
  text-transform: uppercase;
}

.segment-four h3::before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}

.segment-four form input[type=submit] {
  background: #c65039;
  border: none;
  padding: 3px 10px;
  margin-left: -5px;
  color: #fff;
  text-transform: uppercase;
}

.footer-bottom-text{
  text-align: center;
  background: #000;
  line-height: 55px;
  margin: 0;
}

/*SCROll*/



