{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Digital Calendar - Perfil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static '/css/crud.css' %}" />
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home">Recordatorios</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">Perfil<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="/perfil">{{ user.first_name }} {{ user.last_name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/salir">Cerrar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="mx-auto order-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <h1 class="titulo">Perfil del Usuario</h1>
    {% if user.is_authenticated %}
    <div class="llenado_perfil">
        <center>
            <div class="bloques">
                <label for="">Usuario</label>
                <input type="text" name="usuario" id="usuario" value="{{ user.username }}" readonly="readonly">
            </div>
            <div class="bloques">
                <label for="">Nombre</label>
                <input type="text" name="nombre" id="nombre" value="{{ user.first_name }}" readonly="readonly">
            </div>
            <div class="bloques">
                <label for="">Apellido</label>
                <input type="text" name="apellido" id="apellido" value="{{ user.last_name }}" readonly="readonly">
            </div>
            <div class="bloques">
                <label for="">Correo</label>
                <input type="text" name="correo" id="correo" value="{{ user.email }}" readonly="readonly">
            </div>
            <div class="bloques">
                <label for="">Fecha de Registro</label>
                <input type="text" name="registro" id="registro" value="{{ user.date_joined }}" readonly="readonly">
            </div>
        </center>
        <hr>
        <div>
            <a href="#cambiar" role="button" id="cambiar_contra" class="btn btn-secondary btn-sm btn-block"
                data-toggle="modal">¿Cambiar
                Contraseña?</a>
            <hr>
            {% if messages %}
            {% for m in messages %}
            {% if m.level == 25 %}
            <div class="alert alert-success text-center">Contraseña cambiada</div>
            {% else %}
            <div class="alert alert-danger text-center">Error al cambiar la contraseña</div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div id="cambiar" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="titulo_contra">Cambiar Contraseña</h4>
                </div>
                <form action="#" method="POST" class="needs-validation" novalidate id="formulario_contra"
                    action="/perfil">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="bloques">
                            <input value="" type="password" class="form-control" id="actual"
                                placeholder="Contraseña Actual" required="required" name="actual" />
                        </div>
                        <div class="bloques">
                            <input value="" type="password" class="form-control" id="nueva"
                                placeholder="Nueva Contraseña" required="required" name="nueva" />
                        </div>
                        <div class="bloques">
                            <input value="" type="password" class="form-control" id="confir"
                                placeholder="Confirmar Nueva Contraseña" required="required" name="confirm" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Cambiar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endif %}
    <br>
    <center>
        <footer>
            <p class="copyright-agileinfo">&copy; Copyright <strong>DigitalCalendar</strong>. All Rights Reserved</p>
        </footer>
    </center>

</body>

<script src="{% static '/js/jquery-3.4.1.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>

</html>