{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>DigitalCalendar - Inicio</title>

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{% static '/lib/materialize/css/materialize.min.css' %}" />

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="{% static '/css/style-home.css' %}" />

  <!-- Lib -->
  <link rel="stylesheet" href="{% static '/lib/fullcalendar/packages/core/main.css' %}" />
  <link rel="stylesheet" href="{% static '/lib/fullcalendar/packages/daygrid/main.css' %}" />
  <link rel="stylesheet" href="{% static '/lib/jquery-ui/jquery-ui.min.css' %}" />

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var calendarEl = document.getElementById("calendar");

      var calendar = new FullCalendar.Calendar(calendarEl, {
        themeSystem: "standard",
        locale: "es", // the initial locale. of not specified, uses the first one
        firstDay: 1,
        plugins: ["dayGrid", "interaction", "googleCalendar"],
        header: {
          left: "",
          center: "title",
          right: ""
        },
        selectable: true,
        selectHelper: true,
        displayEventTime: false,
        editable: true,

        googleCalendarApiKey: "AIzaSyC6VvfMAWse3pFWooestMaVX3NYRzLSN1g",

        eventSources: [
          {
            googleCalendarId: "es.cl#holiday@group.v.calendar.google.com",
            color: "yellow",
            textColor: "black"
          }
        ],
        events: [
          "{% for reco in reco %}",

          {
            id: "{{ reco.id }}",
            title: "{{ reco.titulo }}",
            start: '{{ reco.diaRecordatorio |date:"Y-m-d" }}',
            time: "{{ reco.horaRecordatorio }}",
            description: "{{ reco.descripcion }}",
            subject: "{{ reco.asunto }}"
          },
          "{% endfor %}"
        ],
      });

      calendar.render();
    });
  </script>
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <button data-target="slide-out" class="sidenav-trigger btn-floating btn-large waves-effect waves-light red">
          <i class="material-icons">menu</i>
        </button>
        <a href="/" class="brand-logo">Digital<span>Calendar</span></a>

        <ul class="navbar-list right">
          <!-- Dropdown -->
          <li>
            <a class="profile-button waves-effect waves-block waves-light" data-target="profile-dropdown"><span
                class="avatar-status avatar-online"><img src="{% static '/img/usuario.png' %}"
                  alt="avatar" /><i></i></span></a>

            <!-- Dropdown Content -->
            {% if user.is_authenticated %}
            <ul class="dropdown-content" id="profile-dropdown" tabindex="0">
              <img class="circle img-profile" src="{% static '/img/usuario.png' %}" alt="" />
              <center>
                <h6 class="grey-text user-text">
                  {{ user.first_name }} {{ user.last_name }}
                </h6>
                <h6 class="grey-text email-text">{{ user.email }}</h6>
              </center>

              <li tabindex="0">
                <a class="grey-text text-darken-1" href="/perfil"><i class="material-icons">person_outline</i> Mi
                  Perfil</a>
              </li>
              <li class="divider" tabindex="0"></li>
              <li tabindex="0">
                <a class="grey-text text-darken-1" href="/salir"><i class="material-icons">keyboard_tab</i>
                  Cerrar Sesión</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="{% static '/img/18.jpg' %}" />
          </div>
          <center>
            <a href="#"><img class="circle" src="{% static '/img/usuario.png' %}" /></a>
            <a href="#"><span class="white-text name">{{ user.first_name }} {{ user.last_name }}</span></a>
            <a href="#"><span class="white-text email">{{ user.email }}</span></a>
          </center>
        </div>
        {% endif %}
      </li>
      <li>
        <center><button style='width:200px' id="listado" type="button" class="btn btn-outline-primary"
            onclick="location.href='/listar'">Recordatorios</button></center>
      </li>
    </ul>
  </header>
  <main>
    <section>
      <div id="calendar" class="container"></div>
    </section>

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-form">
      <div class="modal-header right">
        <button href="#!" class="modal-close waves-effect waves-light btn-flat">
          <i class="material-icons">close</i>
        </button>
      </div>
      <form method="POST">
        {% csrf_token %}

        <div class="modal-content">
          <div class="input-field">
            <input name="titulo" id="titulo" type="text" />
            <label for="titulo">Titulo</label>
          </div>
          <div class="row">
            <div class="col s6">
              <input type="date" name="diaRecordatorio" id="diaRecordatorio" />
            </div>
            <div class="col s6">
              <input type="time" name="horaRecordatorio" id="horaRecordatorio" />
            </div>
          </div>

          <div class="input-field">
            <input name="asunto" id="asunto" type="text" />
            <label for="asunto">Asunto</label>
          </div>
          <div class="input-field">
            <input type="text" name="descripcion" id="descripcion" />
            <label for="descripcion">Descripcion</label>
          </div>
        </div>

        <div class="modal-footer">
          <button class="waves-effect waves-light btn">Guardar</button>
        </div>
      </form>
    </div>

    <div class="fixed-action-btn">
      <a class="btn-floating red modal-trigger waves-effect waves-light" href="#modal1">
        <i class="material-icons">mode_edit</i>
      </a>
    </div>
  </main>

  <center>
    <footer>
      <p class="copyright-agileinfo">&copy; Copyright <strong>DigitalCalendar</strong>. All Rights Reserved</p>
    </footer>
  </center>

  <!-- Jquery 3.4.1 -->
  <script src="{% static '/js/jquery-3.4.1.js' %}"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="{% static '/lib/materialize/js/materialize.js' %}"></script>

  <script src="{% static '/lib/fullcalendar/packages/core/main.js' %}"></script>
  <script src="{% static '/lib/fullcalendar/packages/core/locales/es.js' %}"></script>
  <script src="{% static '/lib/fullcalendar/packages/daygrid/main.js' %}"></script>
  <script src="{% static '/lib/fullcalendar/packages/moment/main.js' %}"></script>
  <script src="{% static '/lib/fullcalendar/packages/interaction/main.js' %}"></script>
  <script src="{% static '/lib/fullcalendar/packages/google-calendar/main.js' %}"></script>
  <script src="{% static '/lib/jquery-ui/jquery-ui.min.js' %}"></script>

  <!-- Main JS -->
  <script src="{% static '/js/main-sesion.js' %}"></script>
</body>

</html>