{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>DigitalCalendar</title>

  <!-- Favicons -->
  <link href="{% static '/img/favicon.png' %}" rel="icon" />

  <!-- Bootstrap CSS File -->
  <link href="{% static '/lib/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
    rel="stylesheet" />

  <!-- Libraries CSS Files -->
  <link href="{% static '/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
  <link href="{% static '/lib/animate/animate.min.css' %}" rel="stylesheet" />
  <link href="{% static '/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />

  <!-- Main Stylesheet File -->
  <link rel="stylesheet" href="{% static '/css/style.css' %}" />
</head>

<body>
  <!--==========================
    Header
    ============================-->
  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <a href="/"><img src="{% static '/img/logo.png' %}" alt="" title="" /></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Inicio</a></li>
          <li><a href="#about">Sobre Nosotros</a></li>
          <li><a href="#team">Equipo de Trabajo</a></li>
          <li><a href="#contact">Contacto</a></li>
        </ul>

        <ul class="nav-menu-login">
          {% if user.is_authenticated %}
          <li><a href="/home">Mis Recordatorios</a></li>
          <li><a href="/salir">Salir</a></li>
          {% else %}
          <li><a href="registro" class="btn-reg">Registrar</a></li>
          <li><a href="iniciar_sesion" class="btn-sign">Ingresar</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

  <!--==========================
    Carrusel Intro
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="carousel-background"><img src="/static/img/intro-carousel/1.jpg" alt="" /></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>DISFRUTA ESTA <span>NUEVA EXPERIENCIA</span></h2>
                <p>DigitalCalendar consiste en una aplicación para la organizacion de todas las actividades que deseas
                  realizar, de una forma única y amigable</p>
                <a href="#about" class="btn-get-started">Ver Mas</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/static/img/intro-carousel/2.jpg" alt="" /></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>DISFRUTA ESTA <span>NUEVA EXPERIENCIA</span></h2>
                <p>DigitalCalendar consiste en una aplicación para la organizacion de todas las actividades que deseas
                  realizar, de una forma única y amigable</p>
                <a href="#about" class="btn-get-started">Ver Mas</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/static/img/intro-carousel/3.jpg" alt="" /></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>DISFRUTA ESTA <span>NUEVA EXPERIENCIA</span></h2>
                <p>DigitalCalendar consiste en una aplicación para la organizacion de todas las actividades que deseas
                  realizar, de una forma única y amigable</p>
                <a href="#about" class="btn-get-started">Ver Mas</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/static/img/intro-carousel/4.jpg" alt="" /></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>DISFRUTA ESTA <span>NUEVA EXPERIENCIA</span></h2>
                <p>DigitalCalendar consiste en una aplicación para la organizacion de todas las actividades que deseas
                  realizar, de una forma única y amigable</p>
                <a href="#about" class="btn-get-started">Ver Mas</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/static/img/intro-carousel/5.jpg" alt="" /></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>DISFRUTA ESTA <span>NUEVA EXPERIENCIA</span></h2>
                <p>DigitalCalendar consiste en una aplicación para la organizacion de todas las actividades que deseas
                  realizar, de una forma única y amigable</p>
                <a href="#about" class="btn-get-started">Ver Mas</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main id="main">
    <!--==========================
      Sobre Nosotros
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">
          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Sobre Nosotros</h2>
            <p>
              Somos una empresa centrada en la comodidad del cliente a la hora de organizarse con sus actividades.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-calendar"></i></div>
              <h4 class="title"><a href="">Organizate</a></h4>
              <p class="description">Con Digital Calendar te ayudaremos a organizar mejor tus actividades.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-history"></i></div>
              <h4 class="title"><a href="">Optimiza tu Tiempo</a></h4>
              <p class="description">Gracias a las diferentes maneras de agendar tus actividades, podras gestionar mejor
                tu tiempo.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-question"></i></div>
              <h4 class="title"><a href="">24 horas</a></h4>
              <p class="description">Digital Calendar te proporsionara a las 24 horas, soporte para que puedan
                solucionarte cualquier tipo de dudas.</p>
            </div>
          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>
      </div>
    </section>

    <!--==========================
      Personas
    ============================-->
    <section id="facts">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Personas</h3>
          <p class="section-description">Cantidad de personas que trabajan en la aplicación.</p>
        </div>
        <div class="row counters">
          <div class="col-lg-4 col-12 text-center">
            <span data-toggle="counter-up">232</span>
            <p>Clientes</p>
          </div>

          <div class="col-lg-4 col-12 text-center">
            <span data-toggle="counter-up">521</span>
            <p>Trabajadores</p>
          </div>

          <div class="col-lg-4 col-12 text-center">
            <span data-toggle="counter-up">24</span>
            <p>Horas de Soporte</p>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Equipo de Trabajo
    ============================-->
    <section id="team">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Equipo de Trabajo</h3>
          <p class="section-description">Nuestro equipo de trabajo cuenta con los mejores programadores y diseñadores
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="/static/img/team-1.jpg" class="img-fluid" alt="" />
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Nicolás Henríquez</h4>
                  <span>Programador / Diseñador</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="/static/img/perfil.jpg" class="img-fluid" alt="" />
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Nicolás Alarcón</h4>
                  <span>Programador / Diseñador</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Contacto
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Contacto</h3>

        </div>

        <div class="row contact-info">
          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Dirección</h3>
              <address>A108 Villa Alemana, NY 535022, Chile</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Teléfono</h3>
              <p><a href="">+1 5589 55488 55</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Correo Electrónico</h3>
              <p><a href="">digital.calendar.contacto@gmail.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-info">
            <h3>DigitalCalendar</h3>
            <p>Digital Calendar una aplicación que te ayudara a organizarte de una mejor manera.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Links de Interes</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="/">Inicio</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#about">Sobre Nosotros</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Funciones</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Términos de Servicio</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Política de Privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contacto</h4>
            <p>
              <strong>Dirección:</strong><br>
              A108 Villa Alemana <br />
              Valparaiso, NY 535022<br />
              Chile <br />
              <strong>Teléfono:</strong> +1 5589 55488 55<br />
              <strong>Correo Electrónico:</strong><br>digital.calendar.contacto@gmail.com</p>
            <div class="social-links">
              <a href="https://twitter.com/CalendarDigital" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/Digital-Calendar-110433313669406" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/digitalcalendar" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Sugerencias</h4>
            <p>Si deseas añadir una funcionalidad a la aplicación, cualquier tipo de sugerencia comunicarse con nosotros a través de el correo de contacto, para así poder mejorar nuestros servicios.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">&copy; Copyright <strong>DigitalCalendar</strong>. All Rights Reserved</div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Template Main Javascript File -->
  <script src="{% static '/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static '/lib/bootstrap4/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static '/lib/easing/easing.min.js' %}"></script>
  <script src="{% static '/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static '/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static '/lib/wow/wow.min.js' %}"></script>
  <script src="{% static '/lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static '/lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static '/lib/owlcarousel/owl.carousel.min.js' %}"></script>

  <!-- Main Javascript File -->
  <script src="{% static '/js/main.js' %}"></script>
  <script src="{% static 'contactform/contactform.js' %}"></script>
</body>

</html>