{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>DigitalCalendar - Iniciar Sesión</title>
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  <link rel="stylesheet" href="{% static 'css/formularios.css' %}" />
  <link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}" />
  <link rel="stylesheet" href="{% static 'css/fa-svg-with-js.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link
    href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
</head>

<body>
  <header>
    <div class="Volver">
      <a href="/">
        <i class="fas fa-angle-double-left" id="back">
          <span>Volver al Inicio</span>
        </i>
      </a>
    </div>
  </header>

  <!--Redes Sociales-->
  <div class="red">
    <a href="https://www.facebook.com/Digital-Calendar-110433313669406" target="_blank" style="color: white">
      <div class="item red-facebook">
        <i class="fab fa-facebook-f fa-fw"></i>
      </div>
    </a>
    <a href="https://twitter.com/CalendarDigital" target="_blank" style="color: white">
      <div class="item red-twitter">
        <i class="fab fa-twitter fa-fw"></i>
      </div>
    </a>
    <a href="https://www.instagram.com/digitalcalendar" target="_blank" style="color: white">
      <div class="item red-instagram">
        <i class="fab fa-instagram fa-fw"></i>
      </div>
    </a>
    <a href="https://www.youtube.com/channel/UCSQTV23ehOYtRLr_VXQxVnA" target="_blank" style="color: white">
      <div class="item red-youtube">
        <i class="fab fa-youtube fa-fw"></i>
      </div>
    </a>
  </div>

  <!--LOGIN-->
  <h1 style="color: white">Digital Calendar</h1>
  <div class=" login-form">
    <h2 style="color: white">Iniciar Sesión</h2>
    {% if messages %}
    {% for m in messages %}
    {% if m.level == 25 %}
    <div class="alert alert-danger text-center">Error al iniciar sesión</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <form action="#" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label>Usuario:</label>
        <div class="group" id="div_input">
          <i class="fas fa-user" id="id_user"></i>
          <input id="usuarioLogin" type="text" class="form-control" placeholder="Usuario" required="required"
            name="username" />
        </div>
      </div>
      <div class=" form-group">
        <label>Contraseña:</label>
        <div class="group" id="div_input">
          <i class="fas fa-unlock" id="id_pass"></i>
          <input id="passLogin" type="password" class="form-control" placeholder="Contraseña" required="required"
            name="password" />
        </div>
      </div>
      <button id="btnLogin" type="submit">Iniciar Sesión</button>
    </form>
    <p class=" register-p">¿No estas registrado? Hazlo aquí<a href="/registro" class="register"> Registrarse</a>
    </p>
    <button class="btn btn-danger google-btn social-btn" onclick="location.href='{%  url 'social:begin' 'google-oauth2' %}'" type="button"><span><i class="fab fa-google-plus-g"></i> Logearse con Google</span> </button>
  </div>
  <footer>
    <p class="copyright-agileinfo">&copy; Copyright <strong>DigitalCalendar</strong>. All Rights Reserved</p>
  </footer>

  <script src="{% static '/js/jquery-3.4.1.js' %}"></script>
  <script src="{% static '/js/bootstrap.min.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="{% static '/js/script.js' %}"></script>
</body>

</html>