{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>DigitalCalendar - Registro</title>
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  <link rel="stylesheet" href="{% static 'css/formularios.css' %}" />
  <link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}" />
  <link rel="stylesheet" href="{% static 'css/fa-svg-with-js.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link
    href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
</head>

<body>
  <!--HEADER-->
  <header>
    <div class="Volver">
      <a href="/">
        <i class="fas fa-angle-double-left" id="back">
          <span>Volver al Inicio</span>
        </i>
      </a>
    </div>
  </header>

  <!--Redes Sociales-->
  <div class="red">
    <a href="https://www.facebook.com/Digital-Calendar-110433313669406" target="_blank" style="color: white">
      <div class="item red-facebook">
        <i class="fab fa-facebook-f fa-fw"></i>
      </div>
    </a>
    <a href="https://twitter.com/CalendarDigital" target="_blank" style="color: white">
      <div class="item red-twitter">
        <i class="fab fa-twitter fa-fw"></i>
      </div>
    </a>
    <a href="https://www.instagram.com/digitalcalendar" target="_blank" style="color: white">
      <div class="item red-instagram">
        <i class="fab fa-instagram fa-fw"></i>
      </div>
    </a>
    <a href="https://www.youtube.com/channel/UCSQTV23ehOYtRLr_VXQxVnA" target="_blank" style="color: white">
      <div class="item red-youtube">
        <i class="fab fa-youtube fa-fw"></i>
      </div>
    </a>
  </div>

  <h1 style="color: white">Digital Calendar</h1>
  <div class=" login-form">
    <h2 style="color: white">Formulario de Registro</h2>
    <form action="#" method="POST" id="formulario_registro" action="/register">
      {% csrf_token %}
      <div class="form-group">
        <label>Nombre:</label>
        <div class="group">
          <i class="fas fa-user"></i>
          <input value="" type="text" class="form-control" id="nombre" placeholder="Nombre" required="required"
            name="first_name" />
        </div>
      </div>
      <div class="form-group">
        <label>Apellido:</label>
        <div class="group">
          <i class="fas fa-user"></i>
          <input value="" type="text" class="form-control" id="apellido" placeholder="Apellido" required="required"
            name="last_name" />
        </div>
      </div>
      <div class="form-group">
        <label>Usuario:</label>
        <div class="group">
          <i class="fas fa-user"></i>
          <input value="" type="text" class="form-control" id="usuario" placeholder="Usuario" required="required"
            name="username" />
        </div>
      </div>
      <div class=" form-group">
        <label>Contraseña:</label>
        <div class="group">
          <i class="fas fa-unlock"></i>
          <input value="" type="password" class="form-control" id="pass1" placeholder="Contraseña" required="required"
            name="password1" />
        </div>
      </div>
      <div class="form-group">
        <label>Repetir Contraseña:</label>
        <div class="group">
          <i class="fas fa-unlock"></i>
          <input value="" type="password" id="pass2" class="form-control" placeholder="Repetir Contraseña"
            required="required" name="password2" />
        </div>
      </div>
      <div class="form-group">
        <label>Correo Electronico:</label>
        <div class="group">
          <i class="fas fa-envelope"></i>
          <input value="" type="email" id="mail" class="form-control" placeholder="Correo Electronico"
            required="required" name="email" />
        </div>
      </div>
      <button class="btn" type="submit" id="btnRegistrar">Registrarse</button>
    </form>
    <p class="login-p">¿Ya estas registrado? Ingresa aquí<a href="/iniciar_sesion" class="login"> Iniciar Sesión</a></p>
  <button class="btn btn-danger google-btn social-btn" onclick="location.href='{%  url 'social:begin' 'google-oauth2' %}'" type="button"><span><i class="fab fa-google-plus-g"></i> Logearse con Google</span> </button>
  </div>

  <footer>
    <p class="copyright-agileinfo">&copy; Copyright <strong>DigitalCalendar</strong>. All Rights Reserved</p>
  </footer>

  <script src="{% static '/js/jquery-3.4.1.js' %}"></script>
  <script src="{% static '/js/bootstrap.min.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="{% static '/js/script.js' %}"></script>
</body>

</html>