.nav-item{
    font-size: 21px;
}
#tabla{
    width: 800px;
}
.bloque{
    width: 500px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
}
label{
    font-size: 18px;
    width: 300px;
    color: #ffffff;
}
.form-control{
    font-size: 18px;
    width: 300px;
}
.btn{
    width: 100px;
}
.alert{
    width: 800px;
}

@media(max-width:525px) {
    #eliminar{
        margin-top: 10px;
    }
}

@media(max-width:500px) {
    .bloque{
        width: 300px;
    }
    #diaRecordatorio,#horaRecordatorio,#titulo,#asunto,#descripcion{
        width: 200px;
    }
}