body{
    background: url(../img/oficina.jpg) no-repeat 0px 0px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
.titulo{
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}
.bloques{
    margin-bottom: 10px;
}
label{
    text-align: center;
    width: 300px;
    font-size: 20px;
}
input{
    text-align: center;
    border-radius: 10px;
    background: transparent;
    color: #ffffff;
    width: 300px;
}
.llenado_perfil{
    background: rgba(77, 77, 77, 0.412);
    max-width: 400px;
    margin: 0 auto;
    padding: 3em;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 20px;
}
#volver,#modificar,#cancelar,#guardar{
    width: 140px;
    height: 40px;
    border-color: black;
}
#contra{
    width: 285px;
    border-color: black;
}
#titulo_contra{
    color: #000000;
}
#cambiar_contra{
    width: 300px;
}