html {
  font-family: "Muli", sans-serif !important;
  font-weight: normal;
  line-height: 1.5;
  color: #6b6f82;
}

h2 {
  margin: 1.78rem 0 1.424rem 0;
  font-size: 1.5rem;
  line-height: 35px;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #333;
}

/* 
* ================
*       AVATAR
* =========
*/
.avatar-status {
  line-height: 50px;
  position: relative;
  display: inline-block;
  width: 30px;
  vertical-align: bottom;
  white-space: nowrap;
  border-radius: 50px;
}

.avatar-status i {
  position: absolute;
  right: -2px;
  bottom: 18px;
  width: 9px !important;
  height: 9px !important;
  border: 1px solid #fff;
  border-radius: 100%;
}

.avatar-status img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0 none;
  border-radius: 1000px;
  background: #e6e6e6;
}

.avatar-online i {
  background-color: #00e676;
}

/*----------------------------------------
	Dropdown
------------------------------------------*/
.dropdown-content {
  width: 200px !important;
  top: 65px !important;
  left: 85% !important;
}
.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: #eee;
}

.dropdown-content li > a,
.dropdown-content li > span {
  padding: 14px 24px;
}
.dropdown-content li > a:hover,
.dropdown-content li > a.active,
.dropdown-content li > span:hover,
.dropdown-content li > span.active {
  background-color: #eee;
}

.dropdown-content li > a > i {
  width: 24px;
  margin: 0 12px 0 0;
}

.dropdown-content .user-text {
  font-weight: 700;
  margin: 0 24px 0;
}

.dropdown-content .email-text {
  font-size: 15px;
  margin: 10px 10px 10px;
}

.img-profile {
  width: 85px;
  height: 85px;
  margin: 10px 57px 0;
}

.btn-floating {
  width: 40px !important;
  height: 40px !important;
  margin-right: 20px;
  float: none !important;
}

.btn-floating i {
  line-height: 45px !important;
}
.brand-logo {
  font-weight: 200;
}

.brand-logo span {
  font-weight: 700;
}

/*
* ==========================================================
*     Modal
* ==========================================================
*/

.modal-form {
  width: 35% !important;
  border-radius: 10px;
}

/*
* ==========================================================
*     Calendar
* ==========================================================
*/

.fc .fc-content-skeleton tr {
  border-bottom: none;
}

.fc td.fc-day {
  border-width: 1px !important;
}

.fc-day-header {
  font-weight: 400;
  text-transform: capitalize;
}

#external-events {
  padding-top: 50px;
}
#external-events .fc-event {
  margin-bottom: 10px;
  padding: 5px;

  cursor: all-scroll;
  text-decoration: none;

  color: #fff;
  border: none;
}

.fc button {
  background: #fff;
}

.fc td {
  border-width: 0 !important;
}

.fc th {
  border-width: 0 !important;
}

.fc-state-active {
  color: #3f51b5 !important;
}

.fc-state-down {
  color: #3f51b5 !important;
}

.fc td.fc-today {
  color: #5181e1;
  font-weight: bold;
}
