{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Digital Calendar - Listar</title>
    <link rel="stylesheet" href="{% static '/css/crud.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body background="{% static 'img/fondo_crud.jpeg' %}">

    <!-- Header -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home">Recordatorios</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">Listar<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="/perfil">{{ user.first_name }} {{ user.last_name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/salir">Cerrar Sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="mx-auto order-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <br>
    <h1 class="text-white text-center">Listado de Recordatorios</h1>
    <br>
    <center>
        <table id="tabla" class="table table-bordered table-striped w-auto table-dark">
            <thead>
                <tr>
                    <th scope="col" class="text-center">TÍTULO</th>
                    <th scope="col" class="text-center">DIA DEL RECORDATORIO</th>

                    <th scope="col" class="text-center">OPCIONES</th>
                </tr>
            </thead>
            {% for a in reco %}
            <tr>
                <td class="text-center">{{ a.titulo }}</td>
                <td class="text-center">{{ a.diaRecordatorio }}</td>

                <!-- Ventana emergente para eliminar recordatorio -->
                <td class="text-center">
                    <button type="button" class="btn btn-info"
                        onclick="location.href='{% url 'modificar' a.id %}'">Modificar</button>
                    <a href="#eliminarVentana" role="button" id="eliminar" class="btn btn-large btn-danger"
                        data-toggle="modal">Eliminar</a>

                    <div id="eliminarVentana" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-dark">¿Estás seguro?</h4>
                                </div>
                                <div class="modal-body">
                                    <p class="text-info">Si lo borras, no se podra recuperar.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-danger"
                                        onclick="location.href='{% url 'eliminar' a.id %}'">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </center>

    <center>
        {% if messages %}
        {% for m in messages %}
        {% if m.level == 25 %}
        <div class="alert alert-success text-center">Se completo sin problemas</div>
        {% else %}
        <div class="alert alert-danger text-center">Error al realizar la acción</div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </center>

    <center>
        <footer>
            <p class="copyright-agileinfo" style="color:#ffffff">&copy; Copyright <strong>DigitalCalendar</strong>. All Rights Reserved</p>
        </footer>
    </center>
</body>

<script src="{% static '/js/jquery-3.4.1.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>

</html>