{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Digital Calendar - Modificar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{% static 'css/crud.css' %}" />
</head>

<body background="{% static 'img/fondo_crud.jpeg' %}">
  <!-- Header -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">Recordatorios</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="">Listar<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="/perfil">{{ user.first_name }} {{ user.last_name }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/salir">Cerrar Sesión</a>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="mx-auto order-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>



  <br>
  <h1 class="text-white text-center">Modificar Recordatorio</h1>
  <center>
    <div class="bloque">
      <br>
      <form action="#" method="POST" id="formulario_recordatorio">
        {% csrf_token %}
        <input type="hidden" name="txtid" id="txtid" value="{{ reco.id }}" />
        <label for="">Día del Recordatorio</label>
        <input class="form-control" type="date" name="diaRecordatorio" id="diaRecordatorio"
          value="{{ reco.diaRecordatorio | date:'Y-m-d' }}" style="text-align:center" />
        <br />
        <label for="">Hora del Recordatorio</label>
        <input class="form-control" type="time" style="text-align:center" name="horaRecordatorio" id="horaRecordatorio"
          value="{{ reco.horaRecordatorio }}" />
        <br />
        <label for="">Título</label>
        <input class="form-control" type="text" style="text-align:center" name="titulo" id="titulo"
          value="{{ reco.titulo }}" />
        <br />
        <label for="">Asunto</label>
        <input class="form-control" type="text" style="text-align:center" name="asunto" id="asunto"
          value="{{ reco.asunto }}" />
        <br />
        <label for="">Descripción</label>
        <input class="form-control" type="text" style="text-align:center" name="descripcion" id="descripcion"
          value="{{ reco.descripcion }}" />
        <br>
        <button type="button" class="btn btn-danger" onclick="location.href='/listar'">Cancelar</button>
        <button type="submit" class="btn btn-success">Modificar</button>
      </form>
      <br>
    </div>
  </center>
  <h3>{{ mensaje }}</h3>

  <center>
      <footer>
          <p class="copyright-agileinfo" style="color:#ffffff">&copy; Copyright <strong>DigitalCalendar</strong>. All Rights Reserved</p>
      </footer>
  </center>
</body>

</html>